.contTotal {
  display: flex;
  flex-direction: column;
  background-color: grey;
  align-items: center;
  justify-content: center;
}
.Total {
  display: flex;
  flex-direction: column;
  background-color: gray;
  align-items: center;
  justify-content: center;
  min-height: 60vh;
  min-width: 50vh;
  border-radius: 20px;
  margin: 20px;
}
